.scoreboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 2px solid black;
}

#score {
  font-size: 1.6rem;
  margin: 0;
}

.scoreboardContainer button {
  border: 2px solid black;
}

.clicked {
  background-color: lightcyan;
}

/* arrow button style

.scoreboardContainer button {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin: 0 0.5rem;
  transition: all 0.4s ease;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */
