.scoreboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 2px solid var(--border-colour);
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#score {
  font-size: 1.6rem;
  margin: 0;
}

.scoreboardContainer button {
  min-width: 7rem;
}

.scoreboardContainer .clicked {
  background-color: var(--clicked);
}
