.scoreboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 2px solid black;
}

#score {
  font-size: 1.6rem;
  margin: 0;
}

.scoreboardContainer button {
  padding: 0.5rem;
  font-weight: bold;
}
