.won {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.won .congrats {
  font-size: 2rem;
  font-weight: bold;
}

.won .gameWord {
  text-align: center;
  font-size: 2rem;
}

.won .gameWord .word {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
}

.won button {
  padding: 1rem;
  font-size: 2rem;
  transition: all 0.5s;
}

.won button:active,
.won button:hover {
  background-color: var(--clicked);
}
